# ==============================================================================
# Git Ignore
# ==============================================================================

# Defaults
# ==============================================================================

.env
vendor/
.vagrant
.DS_Store
Vagrantfile
node_modules
npm-debug.log

# Public
# ==============================================================================

/public/wp/
/public/upgrade/
/public/uploads/
/public/index.php
/public/languages/

# Plugins
# ==============================================================================

/public/plugins/*
/public/mu-plugins/*
!/public/plugins/app-*
!/public/mu-plugins/app-*
!/public/plugins/clean.php
!/public/plugins/relative-links.php
